/* navbar */

/* .navbar{

} */
.navbar ul{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;

}

.navbar ul li a {
    font-size: .5rem;
    padding: 2px 9px;
    text-align: center;

}

/*Home*/
#home {
    height: 820px;
}

.headings {
    font-size: 1.7rem;
}

/*About*/
#pic ul li{
    margin-top: 0;
}
#pic img {
    width: 300px;
    height: 300px;
}

#intro h2 {
    font-size: 1.5rem;
}

/*Portfolio*/
.gallary img {
    width: 150px;
    height: 175px;
    margin: 10px;
}

/*Contact*/
.input {
    width: 80%;
}

#msg {
    width: 70%;
}

#send {
    width: 30%;
}